@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "./styles/variables.css";
@import "./styles/globals.css";

* {
  font-family: 'Inter', sans-serif;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}